@model HemisCB.Models.TbNguoi

@{
    ViewData["Title"] = "Delete";
}

@section Heads {
    <style>
        a:visited, a:hover, a:link {
            color: inherit;
            text-decoration: none;
        }
        .content-container {
            display: grid;
            grid-template-columns: 45% 45%;
            gap: 20px;
        }
        dt {
            color: #444;
        }
        dd {
            color: #555;
        }
    </style>
}
<div class="container row justify-content-center mb-lg-5">
    <div class="col-lg-8 p-lg-5 bg-light shadow-lg rounded-3">
        <div class="container bg-white shadow rounded-3 p-lg-4">
            <div class="text-center">
            <h1>Thông Tin chi tiết</h1>
            <hr />
            </div>
            <dl class="content-container">
                <dt>
                  Họ: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ho)
                </dd>
                <dt>
                    Tên: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ten)
                </dd>
                <dt>
                   Số CCCD: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SoCccd)
                </dd>
                <dt>
                    Ngày cấp CCCD: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NgayCapCccd)
                </dd>
                <dt>
                  Nơi cấp CCCD:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NoiCapCccd)
                </dd>
                <dt>
                   Ngày sinh:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NgaySinh)
                </dd>
                <dt>
                  Ngày vào Đoàn:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NgayVaoDoan)
                </dd>
                <dt>
                   Ngày vào Đảng: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NgayVaoDang)
                </dd>
                <dt>
                  Ngày vào Đảng chính thức:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NgayVaoDangChinhThuc)
                </dd>
                <dt>
                   Ngày nhập ngũ: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NgayNhapNgu)
                </dd>
                <dt>
                 Ngày xuất ngũ: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NgayXuatNgu)
                </dd>
                <dt>
                    Chức danh khoa học:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdChucDanhKhoaHocNavigation.ChucDanhKhoaHoc)
                </dd>
                <dt>
                 Chuyên môn đào tạo:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdChuyenMonDaoTaoNavigation.NganhDaoTao)
                </dd>
                <dt>
                   Tôn giáo: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdTonGiaoNavigation.TonGiao)
                </dd>
                <dt>
                   Dân tộc:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdDanTocNavigation.DanToc)
                </dd>
                <dt>
                   Gia đình chính sách: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdGiaDinhChinhSachNavigation.HoGiaDinhChinhSach)
                </dd>
                <dt>
                  Giới tính:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdGioiTinhNavigation.GioiTinh)
                </dd>
                <dt>
                  Khung năng lực ngoại ngữ:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdKhungNangLucNgoaiNgucNavigation.TenKhungNangLucNgoaiNgu)
                </dd>
                <dt>
                   Ngoại ngữ: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdNgoaiNguNavigation.NgoaiNgu)
                </dd>
                <dt>
                   Quốc tịch:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdQuocTichNavigation.TenNuoc)
                </dd>
                <dt>
                    Hạng thương binh: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdThuongBinhHangNavigation.HangThuongBinh)
                </dd>
                <dt>
                    Trình độ đào tạo:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdTrinhDoDaoTaoNavigation.TrinhDoDaoTao)
                </dd>
                <dt>
                   Trình độ lí luận chính trị: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdTrinhDoLyLuanChinhTriNavigation.TenTrinhDoLyLuanChinhTri)
                </dd>
                <dt>
                    Trình độ quản lí nhà nước: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdTrinhDoQuanLyNhaNuocNavigation.TrinhDoQuanLyNhaNuoc)
                </dd>
                <dt>
                    Trình độ tin học: 
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdTrinhDoTinHocNavigation.TrinhDoTinHoc)
                </dd>
            </dl>
            <div class="d-flex justify-content-center">
                <div><button class="btn btn-primary" onclick="window.location.href = '@Url.Action("Index")'">Quay lại</button></div>
                <div><button class="btn btn-primary ms-3" onclick="window.location.href = '@Url.Action("Edit", new {id = Model.IdNguoi})'">Thay đổi</button></div>
            </div>
        </div>
    </div>
</div>